<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>All products</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" href="../static/css/main.css"/>
    <script>

    </script>
</head>

<body>

<header th:fragment="header">
    <div class="text">
        <h1>Agnus</h1>
    </div>
    <nav class="navMenu">
        <a href="#">Home</a>
        <a href="/blog">Blog</a>
        <a href="#">Work</a>
        <a href="#">About</a>
        <div class="dot"></div>
    </nav>
</header>

    <main>
    <div class="description">
        <p><b>Quality</b>, is anything more important?</p>
        <p>We will prove that <b>no.</b></p>
    </div>
        <div class="table-section" cent>
            <table id="table">
                <tr class="header-row">
                    <th>Link</th>
                    <th>id</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price for each</th>
                </tr>
                <tr th:each="product: ${products}" class="table-rows" >
                    <td class="items"><a th:href="@{/all/{id}(id=${product.id})}">Description</a></td>
                    <td class="items" th:text="${product.id}"/>
                    <td class="items" th:text="${product.name}"/>
                    <td class="items" th:text="${product.quantity} + ' avaliable'"/>
                    <td class="items" th:text="${product.price} + ' dollars'"/>
                </tr>
            </table>
        </div>
    <a href="/">Going back</a>
    </main>

<footer th:fragment="footer">
    <p>© Copyright 2022<br /> Autor: Cristian Suruceanu </p>
</footer>
</body>
</html>
